.DS_Store

*~
*#
*._*
*.log
*.log.*
_*/

*.pyc
*.egg-info

MANIFEST

build
dist

# Cache
.cache
__pycache__
.idea
.pytest_cache
.mypy_cache

# Virtual Environments
venv*
.tox

Pipfile.lock

.coverage
