# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

jobs:
  - job: 'unitTests'

    pool:
      vmImage: 'ubuntu-18.04'
    strategy:
      matrix:
        Python37:
          python.version: '3.7'
        Python38:
          python.version: '3.8'
        Python39:
          python.version: '3.9'

    steps:
    - task: UsePythonVersion@0
      displayName: 'Use Python $(python.version)'
      inputs:
        versionSpec: '$(python.version)'

    - script: pip install tox
      displayName: 'Install Tox'

    - script: tox -e py
      displayName: 'Run Tox'

    - task: PublishTestResults@2
      condition: succeededOrFailed()
      inputs:
        testResultsFiles: '**/junit.xml'
        testRunTitle: 'Publish test results for Python $(python.version)'

# Runs tests nightly to make sure they works against appium@beta
schedules:
  - cron: "0 0 * * *"
    displayName: Daily Nightly build (UTC)
    branches:
      include:
        - master
    always: true
