# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode
jobs:
  - template: ./ci-jobs/functional_test.yml

  - job: 'unitTests'
    pool:
      vmImage: 'ubuntu-16.04'
      strategy:
        matrix:
          Python37:
            python.version: '3.7'
          Python38:
            python.version: '3.8'
          Python39:
            python.version: '3.9'
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
      - script: pip install tox-travis
      - script: tox

# Runs tests nightly to make sure they works against appium@beta
schedules:
  - cron: "0 0 * * *"
    displayName: Daily Nightly build (UTC)
    branches:
      include:
        - master
    always: true
