[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "~=2.15"

[packages]
selenium = "~=4.0"

black = "==21.11b1"

pytest = "~=6.2"
pytest-cov = "~=3.0"

tox = "~=3.24"

httpretty = "~=1.1"
python-dateutil = "~=2.8"
types-python-dateutil = "~=2.8"
mock = "~=4.0"

pylint = "~=2.11"
astroid = "~=2.8"
isort = "~=5.10"

mypy = "~=0.910"
