[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "<24.0.0"
httpretty = "~=1.1"
isort = "<6.0"
mypy = "<2.0"
mock = "~=5.1"
pre-commit = "~=2.21"
pylint = "~=3.2.0"
pylint-quotes = "~=0.2.3"
pytest = "~=8.2"
pytest-cov = "~=4.1"
python-dateutil = "~=2.9"
tox = "~=4.15"
types-python-dateutil = "~=2.9"

[packages]
selenium = "~=4.20"
