name: Conventional Commits
on:
  pull_request:
    types: [opened, edited, synchronize, reopened]


jobs:
  lint:
    name: https://www.conventionalcommits.org
    runs-on: ubuntu-latest
    steps:
      - uses: beemojs/conventional-pr-action@v3
        with:
          config-preset: angular
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
